<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TurtleDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TurtleDesktop.Properties.Settings>
            <setting name="rBinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="countryCode" serializeAs="String">
                <value>108</value>
            </setting>
            <setting name="maxTerminals" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="maxSensors" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="maxCollections" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
        </TurtleDesktop.Properties.Settings>
    </userSettings>
</configuration>